<!-- Logo -->
<div class="logo">
    <a href="/admin">
        <i class="logo-icon fa fa-slack"></i>
        <span>后台</span>
    </a>
</div>
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li>
            <a href="#/userlist"> <i class="fa fa-user"></i> <span>用户列表</span></a>
            <ul>
                <li><a href="#/userlist/common"><i class="fa fa-angle-right"></i><span> 普通用户 </span></a></span></li>
                <li><a href="#/userlist/admin"><i class="fa fa-angle-right"></i><span> 管理员 </span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/music"><i class="fa fa-file-text"></i><span> 音乐大全 </span></a>
            <ul>
                <li><a href="#/music/artist"><i class="fa fa-angle-right"></i><span> 歌手 </span></a></li>
                <li><a href="#/music/song"><i class="fa fa-angle-right"></i><span> 歌曲 </span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/count"><i class="fa fa-bar-chart"></i><span> 数据统计 </span></a>
        </li>
        <li>
            <a href="#/table"><i class="fa fa-table"></i><span> Table styles</span></a>
            <ul>
                <li><a href="#/tables/static"><i class="fa fa-angle-right"></i><span> Normal tables</span></a></li>
                <li><a href="#/tables/responsive"><i class="fa fa-angle-right"></i><span> Responsive tables</span></a></li>
                <li><a href="#/tables/dynamic"><i class="fa fa-angle-right"></i><span> Dynamic tables</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/form"><i class="fa fa-list-alt"></i><span> Form elements</span></a>
            <ul>
                <li><a href="#/forms/elements"><i class="fa fa-angle-right"></i><span> Form elements</span></a></li>
                <li><a href="#/forms/validation"><i class="fa fa-angle-right"></i><span> Form validations</span></a></li>
                <li><a href="#/forms/wizard"><i class="fa fa-angle-right"></i><span>Form wizard</span></a></li>
                <li><a href="#/forms/layouts"><i class="fa fa-angle-right"></i><span> Form layouts</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/charts"><i class="fa fa-bar-chart"></i><span> Charting</span></a>
            <ul>
                <li><a href="#/charts/morris"><i class="fa fa-angle-right"></i><span>Morris Charts</span></a></li>
                <li><a href="#/charts/chartjs"><i class="fa fa-angle-right"></i><span>Chart js</span></a></li>
                <li><a href="#/charts/flot"><i class="fa fa-angle-right"></i><span>Flot Charts</span></a></li>
                <li><a href="#/charts/others"><i class="fa fa-angle-right"></i><span>Other Charts</span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/maps"><i class="fa fa-map-marker"></i><span> Maps</span></a>
            <ul>
                <li><a href="#/maps/gmap"><i class="fa fa-angle-right"></i><span> Google</span></a></li>
                <li><a href="#/maps/jqvmap"><i class="fa fa-angle-right"></i><span> Vector</span></a></li>
            </ul>
        </li>
        <li class="nav-task">
            <a href="#/tasks">
                <i class="fa fa-check-square-o"></i><span> Tasks</span>
                <span class="badge badge-danger main-badge">{{navInfo.tasks_number}}</span>
            </a>
        </li>
    </ul>
</div>